.service {
    background-color: #f5ecff;
}
.service-box {
    text-align: center;
}
.service-box i {
    transition: all .5s;
}
.service-box:hover i {
   background-color: #9068be;
   border-radius: 30px;
   
}
